<div id="register" class="container-fluid register-width">
  <form>
    <div class="form-floating col-lg-6 base-height">
      <input id="name-input" type="text" class="my-form-control" placeholder="Nome">
    </div>
    <div class="form-floating col-lg-6 base-height">
      <input id="surname-input" type="text" class="my-form-control" placeholder="Cognome">
    </div>
    <div class="form-floating col-lg-6 base-height very-light-top-margin">
      <input  id="mail-input" type="email" class="my-form-control" placeholder="example@gmail.com">
    </div>
    <div class="form-floating col-lg-6 base-height very-light-top-margin">
      <input  id="cell-input" type="text" class="my-form-control" placeholder="Numero di telefono">
    </div>
    <div class="form-floating col-lg-6 base-height very-light-top-margin">
      <input  id="password-input" type="password" class="my-form-control" placeholder="Password">
    </div>
    <div class="form-floating col-lg-6 base-height very-light-top-margin">
      <input  id="password-conf-inpu" type="password" class="my-form-control" placeholder="Conferma Password">
    </div>
    <button id="btn" class="btn btn-lg btn-primary col-lg-6 col-lg-offset-3 light-top-margin" type="submit">Registrati</button>
  </form>
</div>