<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hotels</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>
  $( function() {
    $( "#datepicker1" ).datepicker();
  } );
  </script> 
  <script>
    $( function() {
      $( "#datepicker2" ).datepicker();
    } );
    </script>
      <script>
        $( function() {
          var availableTags = [
            "ActionScript",
            "AppleScript",
            "Asp",
            "BASIC",
            "C",
            "C++",
            "Clojure",
            "COBOL",
            "ColdFusion",
            "Erlang",
            "Fortran",
            "Groovy",
            "Haskell",
            "Java",
            "JavaScript",
            "Lisp",
            "Perl",
            "PHP",
            "Python",
            "Ruby",
            "Scala",
            "Scheme"
          ];
          $( "#search" ).autocomplete({
            source: availableTags
          });
        } );
        </script>
</head>
<body>
    <div class="hero grid-main" >
        <div class="container">
            <div class="row">
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 top-nav">
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 top-nav" >
                    <a href="home_page" class="links" >HOTELS</a>
                </div>
                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 top-nav">
                    <a href="mie_prenotazioni.html" class="links">Mie Prenotazioni</a>
                    <span>|</span>
                    <%= link_to "Registra la tua struttura",new_hotel_path, class:"links"%>
                    <span>|</span>
                    <a href="register.html" class="links">Registrati</a>
                    <span>|</span>
                    <a href="login.html" class="links">Accedi</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" >
                    <div class="form-group base-height" id="holder-1" > 
                        <small id="label" for="input">Dove andiamo?</small>
                        <input id="search" list="browsers" class="my-form-control input" >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group base-height" id="holder-2"> 
                        <small id="label" for="input">Partenza</small>
                        <input id="datepicker1" type="email" class="my-form-control input" >
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group base-height" id="holder-2"> 
                        <small id="label" for="input">Ritorno</small>
                        <input id="datepicker2" type="email" class="my-form-control input" >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group base-height" id="holder-2"> 
                        <small id="label" for="input">Quante persone?</small>
                        <input type="email" class="my-form-control input">
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div id="holder-2" class="form-group" >
                        <a id="cerca" href="search.html" class="btn btn-lg active btn-block button-color base-height center-text" role="button" aria-pressed="true">
                            CERCA
                        </a> 
                    </div>
                </div>
            </div>
        </div>
        <footer class="container lef"><ion-icon name="logo-discord" class="icon-dim"></ion-icon><footer>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html> 