<div id="log-in" class="container-fluid log-in-width" >
  <form>
    <h1 class="h3 mb-3 fw-normal">Please Sign In</h1>
    <div class="form-floating base-height">
      <input type="email" class="my-form-control" id="floatingInput" placeholder="name@example.com">
    </div>
    <div class="form-floating base-height very-light-top-margin">
      <input type="password" class="my-form-control" id="floatingPassword" placeholder="Password">
    </div>
    <button id="btn" class="btn btn-lg btn-primary col-lg-12 light-top-margin" type="submit">Accedi</button>
  </form>
</div>