<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hotels</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
  <div id="prenotazione" class="container-fluid register-width thin-border">
    <form>
          <div class="form-group col-lg-6 light-top-margin">
            Hotel 1
          </div>
          <div class="form-group col-lg-6 light-top-margin">
            2 Adulti 1 Moccioso
          </div>

          <div class="form-group col-lg-6">
            40 euro a notte
          </div>
          <div class="form-group col-lg-6">
            400 euro in totale
          </div>
          <div class="form-group col-lg-6">
            Dal data
          </div>
          <div class="form-group col-lg-6">
            Al data
          </div>
          <button id="btn-modifica-prenotazione" class="btn btn-lg btn-primary col-lg-4  light-left-margin light-bottom-margin" type="submit">Modifica</button>
          <button id="btn-annulla-prenotazione" class="btn btn-lg btn-danger col-lg-4 col-lg-offset-2 light-bottom-margin" type="submit">Cancella</button>
      <div class="form-group col-lg-12 light-bottom-margin">
      </div>
    </form>
  </div>
  <div id="nuova-prenotazione" class="container">
    <button id="btn-annulla-prenotazione" class="btn btn-lg btn-primary col-lg-3 col-lg-offset-7 light-top-margin" type="submit">Nuova Prenotazione</button>
  </div>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
</body>
</html> 