<h1>Editing hotel</h1>
<%= render "form", hotel: @hotel %>
<%= link_to "Show this hotel", @hotel,class:"btn btn-lg btn-primary light-top-margin"  %> |
<%= link_to "Back to hotels", hotels_path,class:"btn btn-lg btn-primary light-top-margin"  %>

