<div id="register" class="container-fluid register-width">
    <form>
    <%= form_with model: @hotel do |form| %>
    <div class="form-floating col-lg-6 base-height">
        <%= form.text_field :name %>
        <input id="hotel-name-input" type="text" class="my-form-control" placeholder="Nome albergo">
    </div>
    <div class="form-floating col-lg-6 base-height">
        <input id="IVA-input" type="text" class="my-form-control" placeholder="IVA">
    </div>
    <div class="form-floating col-lg-6 base-height very-light-top-margin">
        <input  id="via-input" type="text" class="my-form-control" placeholder="Via">
    </div>
    <div class="form-floating col-lg-6 base-height very-light-top-margin">
        <input  id="cell-input" type="text" class="my-form-control" placeholder="Quante stelle">
    </div>
    <div class="form-floating col-lg-6 base-height very-light-top-margin">
        <input  id="costo-input" type="text" class="my-form-control" placeholder="Costo camera">
    </div>
    <div class="form-floating col-lg-6 base-height very-light-top-margin">
        <input  id="quante-camere-input" type="text" class="my-form-control" placeholder="Camere totali">
    </div>
    <div class="form-floating col-lg-12">
        <h4>Opzioni</h4>
        <div class="col-lg-2">
            <input type="checkbox">
            <span>Piscina</span>
        </div>
        <div class="col-lg-2">
            <input type="checkbox">
            <span>Piscina</span>
        </div>
        <div class="col-lg-2">
            <input type="checkbox">
            <span>Piscina</span>
        </div>
        <div class="col-lg-2">
            <input type="checkbox">
            <span>Piscina</span>
        </div>
        <div class="col-lg-2">
            <input type="checkbox">
            <span>Piscina</span>
        </div>
        <div class="col-lg-2">
            <input type="checkbox">
            <span>Piscina</span>
        </div>
    </div>
    <div class="col-lg-12">
        <h4>Descrizione</h4>
        <textarea maxlength='250' id="descrizione" class="form-control light-top-margin no-resize"  ></textarea>
    </div>
    <a id="btn" class="btn btn-lg btn-danger col-lg-4 col-lg-offset-1 light-top-margin" type="submit">Annulla</a>
    <%=form.submit%>
    <a href="modifica_struttura" id="btn" class="btn btn-lg btn-primary col-lg-4 col-lg-offset-2 light-top-margin" type="submit">Inserisci</a>
    </form>
    <% end %>
</div>
