<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hotels</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<body>
      <div id="register" class="container register-width">
          <form >
            <div class="form-floating col-lg-6">
                <input id="hotel-name-input" type="text" class="form-control base-height" placeholder="Nome albergo" value="Hotel 1">
            </div>
            <div class="form-floating col-lg-6">
                <input id="IVA-input" type="text" class="form-control base-height" placeholder="IVA" value="58501950099">
            </div>
            <div class="form-floating col-lg-6">
              <input  id="via-input" type="text" class="form-control base-height very-light-top-margin" placeholder="Via" value="Via campi 68">
            </div>
            <div class="form-floating col-lg-6">
              <input  id="cell-input" type="text" class="form-control base-height very-light-top-margin" placeholder="Quante stelle" value="4">
            </div>
            <div class="form-floating col-lg-6">
                <input  id="costo-input" type="text" class="form-control base-height very-light-top-margin" placeholder="Costo camera" value="5 euro">
            </div>
            <div class="form-floating col-lg-6">
                <input  id="quante-camere-input" type="text" class="form-control base-height very-light-top-margin" placeholder="Camere totali" value="20">
            </div>
            <div class="form-floating col-lg-12">
                <h4>Opzioni</h4>
                <div class="col-lg-2">
                    <span>Piscina</span>
                </div>
                <div class="col-lg-2">
                    <span>Piscina</span>
                </div>
                <div class="col-lg-2">
                    <span>Piscina</span>
                </div>
                <div class="col-lg-2">
                    <span>Piscina</span>
                </div>
                <div class="col-lg-2">
                    <span>Piscina</span>
                </div>
                <div class="col-lg-2">
                    <span>Piscina</span>
                </div>
            </div>
            <div class="col-lg-12">
                <h4>Descrizione</h4>
                <textarea maxlength='250' id="descrizione" class="form-control light-top-margin no-resize" rows="8">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat ratione libero enim, distinctio sunt officiis quibusdam quam odio corporis rem laudantium, labore alias tenetur tempore accusantium voluptates ullam quos minus!</textarea>
            </div>
            <a id="btn" class="btn btn-lg btn-danger col-lg-4 col-lg-offset-1 light-top-margin" type="submit">Annulla Modifica</a>
            <a href="" id="btn" class="btn btn-lg btn-primary col-lg-4 col-lg-offset-2 light-top-margin" type="submit">Conferma Modifica</a>
        </form>
      </div>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html> 