<p style="color: green"><%= notice %></p>


<% @hotels.each do |hotel| %>
  <%= render hotel %>
  <p>
    <%= link_to "Show this hotel", hotel, class:"btn btn-lg btn-primary "%>
  </p>
<% end %>

<%= link_to "Aggiungi hotel", new_hotel_path, class:"btn btn-lg btn-primary light-top-margin" %>


